@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background: url(./Assets/pexels-matheus-viana-2414036.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    isolation: isolate;
}

body::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.89);
    z-index: -1;
}

/* Desktop Navbar Section */

.nav-bar {
    display: fixed;
    flex-direction: column;
    margin-right: 80%;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 2px solid black;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.788);
}

.nav-bar li:nth-last-of-type(4) {
    margin-top: auto;
}
.nav-bar li:nth-last-of-type(1) {
    margin-bottom: 133%;
}
.nav-bar li:nth-last-of-type(5) {
    margin-top: auto;
    align-self: center;
    width: 100%;
    margin-right: 18%;
    display: flex;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    list-style: none;
    text-decoration: none;
    gap: 10%;
    flex-grow: 1;
    background-color: rgb(22, 22, 22);
    height: 100vh;
    padding-left: 37%;
    overflow: hidden;
}

li a {
    font-size: 1.4rem;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    margin-bottom: 0;
    padding: 0%;
    display: flex;
    position: relative;
}


li a::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: aliceblue;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

li a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

i {
    margin-right: 12px;
    margin-bottom: 0;
    font-size: 1.8rem;
    align-self: center;
    display: inline-block;
}

/* End of Desktop Navbar Section */

/* Grid Hero Section */

.main-content {
  top: 0;
  right: 0;
  margin-top: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  z-index: -1;
}

.portfolio {
    display: grid;
    height: 50%;
    width: 1000px;
    margin-left: 20%;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.portfolio-item {
    background-color: orange;
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: transform 1s ease;
    border-radius: 20px;
    overflow: hidden;
    padding: 1rem 5rem;
    color: white;
}

.portfolio-item p {
    font-style: italic;
    font-family: serif;
    font-size: 1.25rem;
    line-height: 1.3;
    opacity: 0;
    transition: opacity 550ms 100ms;
}

.portfolio-item:hover p,
.portfolio-item:focus-within p {
    opacity: 1;
}

.portfolio-item .button {
    background: black;
    color: white;
    padding: 0.8rem;
    margin: 0 5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
}

.portfolio-item .button:hover {
    background: #333;
}

.card-content {
   display: grid;
   gap: 3rem; 
}


 .card-content {
    transform: translateY(calc(100% - -0.5rem));
    transition: transform 550ms;
} 

.portfolio-item:hover .card-content, .square1:focus-within .card-content {
    transform: translateY(0);
}

.card-content > :not(.item-title) {
    transform: translateY(50%)
    transition: opacity 550ms 100ms;
}

.portfolio-item:hover .card-content :not(.item-title), 
.portfolio-item:focus-within .card-content :not(.item-title) {
    transform: translateY(0%)
}

.square1 {
    background-image: url(./Assets/pexels-valentin-antonucci-1378723.jpg);
    background-position: center top;
    background-size: 105% 105%;
    transition: background-position 350ms;

    overflow: hidden;
}


.square1:hover, .square1:focus-within {
    background-position: center bottom;
}

.square1::before {
    content: '';
    display: block;
    background: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 400ms;
}

.square1:hover::before {
    opacity: 0.4;
}

.square2 {
    background-image: url(./Assets/pexels-andrea-piacquadio-840996.jpg);
    background-position: center top;
    background-size: 105% 105%;
    transition: background-position 350ms;

    overflow: hidden;
}


.square2:hover, .square1:focus-within {
    background-position: center bottom;
}

.square2::before {
    content: '';
    display: block;
    background: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 400ms;
}

.square2:hover::before {
    opacity: 0.4;
}

.square3 {
    background-image: url(./Assets/pexels-ivan-samkov-4164651.jpg);
    background-position: center top;
    background-size: 105% 105%;
    transition: background-position 350ms;

    overflow: hidden;
}


.square3:hover, .square1:focus-within {
    background-position: center bottom;
}

.square3::before {
    content: '';
    display: block;
    background: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 400ms;
}

.square3:hover::before {
    opacity: 0.4;
}

.square4 {
    background-image: url(./Assets/movie.jpg);
    background-blend-mode: black;
    background-position: center top;
    background-size: 105% 105%;
    transition: background-position 350ms;

    overflow: hidden;
}


.square4:hover, .square1:focus-within {
    background-position: center bottom;
}

.square4::before {
    content: '';
    display: block;
    background: black;
    opacity: 0.6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all ease-in-out 400ms;
}

.square4:hover::before {
    opacity: 0.4;
}

/* .portfolio-item:hover {
    transform: translateY(-14px)
} */

.square1 {
    grid-row: span 3;
    grid-column: span 2;
}

.square2 {
    grid-row: span 3;
    grid-column: span 2;
}

.square3 {
    grid-row: span 3;
    grid-column: span 2
}

.square4 {
    grid-row: span 3;
    grid-column: span 2
}

